body{
    margin:0;
    padding:0;
    font-family: 'Fira Sans', sans-serif;
}
ul{
    list-style-type:none;
}
a{
    text-decoration:none;
    color:black;
}

#contenedor{
    width:60%;
    margin: 0 auto;
}
#header{
    width:100%;
    clear:both;
    margin:0;
    display:flex;
    justify-content:space-between;
    align-items: center;
}
#logo{
    width:30%;
    padding:2% 0;
}
#logo #Layer_1{
    width: 90%;
}
#botonera{
    width:60%;
}
#botonera ul{
    width:100%;
    padding:0;
    display:flex;
    justify-content: space-between;
    align-items:center;
}
#botonera ul li{
    width:70px;
    height: 70px;
    font-size: 15px;
    border: solid 1px black;
    -webkit-border-radius: 70px;
    -moz-border-radius: 70px;
    border-radius: 70px;
    display:flex;
    justify-content: space-evenly;
    align-items:center;
}
#botonera a:activate{
    text-decoration:none;
    color:black;
}
#botonera a:hover{
    text-decoration:none;
    font-weight:bold;
    color:black;
    border: solid 2px black;
    -webkit-border-radius: 70px;
    -moz-border-radius: 70px;
    border-radius: 70px;
}
#botonera a:visited{
    text-decoration:none;
    color:black;
}
#portfolio{
    width:100%;
    height:90%;
    display:flex;
    flex-wrap: wrap;
    align-content: center;
}
.testimonio{
    width:60%;
    height:30%;
    overflow:hidden;
    background:#037ef3;
    text-align: center;
    display:flex;
    justify-content: center;
    align-items: center;
    font-size:20px;
    font-style: bold;
    color:white;
}
.testimonio img{
    width: auto;
    height:100%;
    opacity: 0.3;
   /* For IE8 and earlier */
}
.testimonio:nth-child(1){
    font-size:20px;
}
.testimonio:nth-child(2){
    width:40%;
    background:#f85a40;
    font-size:20px;
    font-style: normal;
}
.testimonio:nth-child(3){
    width:40%;
    background:#30c39e;
    font-size:20px;
    font-style: normal;
}
.testimonio:nth-child(4){
    width:60%;
    background:#f48924;
    font-size:20px;
    font-style: normal;
}
.testimonio:nth-child(5){
    width:70%;
    background:#0a8ea0;
    font-size:20px;
    font-style: normal;
}
.testimonio:nth-child(6){
    width:30%;
    background:#ffc845;
    font-size:20px;
    font-style: normal;
}
#footer{
    width:100%;
    height:10%;
    background:black;
    display:flex;
    align-items: center;
}
#footer ul{
    width:40%;
    margin:0;
    padding:0;
    display: flex;
    justify-content: space-evenly;
    align-items:center;
}
#footer ul li{
    width:30px;
    height:30px;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    border-radius: 30px;
    background:white;
    display:flex;
    justify-content: center;
    align-items: center;
}
#Capa_1{
    width:65%;
    height: auto;
}
h1{
  font-size: 25px;
  font-weight: bold;
  color: #4C4847;
}
h2{
  font-size: 16px;
  font-weight: lighter;
  color: #4C4847;
}
.tituloform {
  font-size: 11pt;
  font-family: inherit;
}
#datos{
  width: 100%;
  display: flex;
  margin-top: 20px;
  margin-bottom: 20px;
  border: solid 1px #4C4847;
  box-sizing: border-box;
}
#encuesta{
  width: 70%;
}
#datosdelaempresa{
  width: 30%;
  border-left: 1px solid black;
  box-sizing: border-box;
}
.contenedornya {
  width: 100%;
  display: flex;
}
.Nya {
  width: 50%;
  margin: 20px 0;
  padding: 0 10px;
}
.Nya input, .Mail input{
  width: 100%;
  height: 30px;
  margin-top: 10px;
  border-style: solid;
  border-width: 0 0 1px 0;
  background-color: #cce6ff;
}
.Mensaje textarea{
  margin-top: 10px;
  border-style: solid;
  border-width: 1px;
  background-color: #cce6ff;
}
input:focus, textarea:focus {
  background-color: #ffcc80;
  outline: none;
  border: 0;
}
#tipo{
  margin: 15px 0;
}
.eleccion{
  font-size: 12px;
}
.Mail,.Mensaje{
  width: 100%;
  font-size: 10pt;
  padding: 0 10px;
  box-sizing: border-box;
}
.Mensaje{
  margin: 20px 0;
}
textarea{
  width: 100%;
  height: 200px;
  border: 1px solid;
  padding: 0 10px;
  margin-top: 20px;
  box-sizing: border-box;
  resize: none;
}
input[type=submit] {
  background-color: white;
}
.Botones{
  padding: 0 10px;
}
.Botones input{
  height: 30px;
  background-color: silver;
  border: none;
  padding: 5px 15px;
  margin-right: 15px;
}
.contenedorproyecto{
  padding: 0 10px;
}
#mailempresa,#telefonoempresa{
  border-bottom: 1px solid black;
  padding-left: 40px;
  position: relative;
}
#mailempresa{
  padding-bottom: 10pt;
}
#mailempresa a{
  font-size: 10pt;
}
#telefonoempresa p{
  font-size: 10pt;
}
#direccionempresa{
  padding-left: 10px;
  padding-left: 40px;
  position: relative;
}
#direccionempresa p{
  font-size: 10pt;
}
.iconosdatos {
  position: absolute;
  left: 7px;
  top: -2px;
}
/*Bere:nosotras*/
#seccionnosotras {
    margin-top: 20px;
    margin-bottom: 30px;
    display: flex;
    justify-content: space-around;
}
.bloque-p {
    width: 40%;
}
.foto-p {
    width: 80%;
    height: auto;
    margin: auto;
}
.foto-p img {
    width: 100%;
}
.descripcion-p {
    text-align: center;
}
.nombre-p {
    letter-spacing: 5px;
}
.texto-p {
    width: 80%;
    margin: auto;
    line-height: 30px;
    font-size: 0.8em;
}
/* fin bere:nosotras */
@media screen and (max-width: 1024px) {
   #header{
    flex-direction: column;
    justify-content: space-between;
    align-items:center;
   }
   #botonera{
    width:100%;
  }
   #trabajos{
    height:80%;
   }
   .fotos{
    font-size: 22px;
  }
   #footer{
    justify-content: center;
   }
   #encuesta, #datosdelaempresa{
    width: 100%;
    border-left: 0;
   }
   #datosdelaempresa {
    border-top: 1px solid black;
   }
   #datos{
    width: 100%;
    flex-direction: column;
   }
   #seccionnosotras {
       flex-wrap: wrap;
   }

}
@media screen and (max-width: 500px) {
    #header{
        height:auto;
        flex-direction: column;
        justify-content:flex-start;
        align-items:center;
    }
    #logo{
        width:100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    #logo #Layer_1{
        width: 80%;
        height: auto;
        margin: 0 auto 0 auto;
    }
    #logo a {
        width:100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    #botonera{
        height:32%;
        padding: 2% 0 2% 0;
    }
    #botonera ul{
        width:70%;
        height:100%;
        padding:0;
        margin:0 auto 0 auto;
        display:flex;
        flex-wrap: wrap;
        justify-content:space-evenly;
        align-content:space-around;
    }
    #trabajos{
        width:100%;
        height:auto;
        flex-direction:column;
        justify-content: center;
        align-items: center;
    }
    #trabajos .testimonio{
        width:98%;
        height:20%;
        padding: 0 1% 0 1%;
        font-size: 20px;
    }
    #encuesta, #datosdelaempresa{
      width: 100%;
      border-left: 0;
    }
    #datos{
      width: 100%;
      flex-direction: column;
    }
    .datosparacompletar {
      width: 100%;
    }
    /*#footer{
        width: 100%;
    }*/
    .contenedornya {
      flex-direction: column;
    }
    .Nya {
      width: 100%;
      margin: 8px 0;
      box-sizing: border-box;
    }
    #footer ul{
      width:80%;
    }
    #seccionnosotras {
        flex-flow: column wrap;
        align-items: center;
    }
    .bloque-p {
        width: 100%;
        margin-bottom: 30px;
    }
 }