body{
    margin:0;
    padding:0;
    font-family: 'Fira Sans', sans-serif;
}
ul{
    list-style-type:none;
}
a{
    text-decoration:none;
    color:black;
}

#contenedor{
    width:60%;
    height:auto;
    margin: 0 auto 0 auto;
}
#header{
    width:100%;
    height:auto;
    clear:both;
    overflow:auto;
    margin:0;
    display:flex;
    flex-direction: row;
    justify-content:space-between;
    align-items: center;
}
#logo{
width:30%;
height:auto;
padding:2% 0 2% 0;
}
#logo #Layer_1{
    width: 90%;
    height: auto;
}
#botonera{
    width:60%;
}
#botonera ul{
    width:100%;
    padding:0;
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    align-items:center;
}
#botonera ul li{
    width:70px;
    height: 70px;
    font-size: 15px;
    border: solid 1px black;
    -webkit-border-radius: 70px;
    -moz-border-radius: 70px;
    border-radius: 70px;
    display:flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items:center;
}
#botonera a:activate{
    text-decoration:none;
    color:black;
}
#botonera a:hover{
    text-decoration:none;
    font-weight:bold;
    color:black;
    border: solid 2px black;
    border: solid 1px black;
    -webkit-border-radius: 70px;
    -moz-border-radius: 70px;
    border-radius: 70px;
}
#botonera a:visited{
    text-decoration:none;
    color:black;
}
#trabajos{
    width:100%;
    height:90%;
    display:flex;
    flex-wrap: wrap;
    align-items: center;
    align-content: center;
}
.fotos{
    width:60%;
    height:25%;
    background:#037ef3;
    text-align: center;
    display:flex;
    justify-content: center;
    align-items: center;
    font-size:20px;
    font-style: bold;
    color:white;
}
.fotos:nth-child(1){
    font-size:25px;
}
.fotos:nth-child(2){
    width:40%;
    background:#f85a40;
    font-size:20px;
    font-style: normal;
}
.fotos:nth-child(3){
    width:40%;
    background:#30c39e;
    font-size:20px;
    font-style: normal;
}
.fotos:nth-child(4){
    width:60%;
    background:#f48924;
    font-size:20px;
    font-style: normal;
}
.fotos:nth-child(5){
    width:70%;
    background:#0a8ea0;
    font-size:20px;
    font-style: normal;
}
.fotos:nth-child(6){
    width:30%;
    background:#ffc845;
    font-size:20px;
    font-style: normal;
}
#footer{
    width:100%;
    height:10%;
    background:black;
    display:flex;
    align-items: center;
}
#footer ul{
    width:40%;
    margin:0;
    padding:0;
    display: flex;
    justify-content: space-evenly;
    align-items:center;
}
#footer ul li{
    width:30px;
    height:30px;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    border-radius: 30px;
    background:white;
    display:flex;
    justify-content: center;
    align-items: center;
}
#Capa_1{
    width:65%;
    height: auto;
}
#datos{
  width: 100%;
  background-color: mistyrose;
  display: flex;
}
#encuesta{
  width: 60%;
}
#datosdelaempresa{
  width: 40%;
  border-left: 1px solid black;
  box-sizing: border-box;
}
.contenedornya {
  width: 100%;
  display: flex;
}
.Nya {
  width: 50%;
  font-size: 10pt;
  margin: 20px 0;
  padding: 0 10px;
}
.Nya input{
  width: 100%;
  border: 1px solid;
}
.Mail,.Mensaje{
  width: 100%;
  font-size: 10pt;
  padding: 0 10px;
  box-sizing: border-box;
}
.Mail input{
  width: 100%;
  border: 1px solid;
}
.Mensaje{
  margin: 20px 0;
}
textarea{
  width: 100%;
  height: 200px;
  border: 1px solid;
  padding: 0 10px;
  box-sizing: border-box;
  resize: none;
}
input[type=submit] {
  width: 100px;
  background-color: white;
  color: blue;
  border: none;
}
.Botones{
  padding: 0 10px;
}
#mailempresa,#telefonoempresa{
  border-bottom: 1px solid black;
  padding-left: 10px;
}
#mailempresa{
  padding-bottom: 10pt;
}
#mailempresa a{
  font-size: 10pt;
}
#telefonoempresa p{
  font-size: 10pt;
}
#direccionempresa{
  padding-left: 10px;
}
#direccionempresa p{
  font-size: 10pt;
}
@media screen and (max-width: 1024px) {
   #header{
    flex-direction: column;
    justify-content: space-between;
    align-items:center;
   }
   #botonera{
    width:100%;
}
   #trabajos{
    height:80%;
   }
   .fotos{
    font-size: 22px;
}
   #footer{
       justify-content: center;
   }
}
@media screen and (max-width: 500px) {
    #header{
        height:auto;
        flex-direction: column;
        justify-content:flex-start;
        align-items:center;
    }
    #logo{
        width:100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    #logo #Layer_1{
        width: 80%;
        height: auto;
        margin: 0 auto 0 auto;
    }
    #botonera{
        height:32%;
        padding: 2% 0 2% 0;
    }
    #botonera ul{
        width:70%;
        height:100%;
        padding:0;
        margin:0 auto 0 auto;
        display:flex;
        flex-direction:row;
        flex-wrap: wrap;
        justify-content:space-evenly;
        align-items:center;
        align-content:space-around;
    }
    #trabajos{
        width:100%;
        height:auto;
        flex-direction:column;
        justify-content: center;
        align-items: center;
    }
    #trabajos .fotos{
        width:98%;
        height:20%;
        padding: 0 1% 0 1%;
        font-size: 20px;
    }
    #trabajos .fotos:nth-child(2){
        width:100%;
    }
    #trabajos .fotos:nth-child(3){
        width:100%;
    }
    #trabajos .fotos:nth-child(4){
        width:100%;
    }
    #trabajos .fotos:nth-child(5){
        width:100%;
    }
    #trabajos .fotos:nth-child(6){
        width:100%;
    }
    #footer ul{
        width:80%;
    }
 }
